/*Syntax CSS

Selector {property: value; property: value}

*/

/* (*) symbol specify the universal selector meaning, we can select all HTML elements */

* {
	font-family: "Roboto", sans-serif;
}


h1, h3 {
	font-family: 'Montserrat', sans-serif;
}


img {
	height: 250px;
	width: 250px;
}